header{
  background-color: orange;
  min-height: 30vh;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header{
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;

}




